.button {
	align-self: center;
	background-color: rgb(30,103,196);
	color: white;
	font-weight: bold;
	border-radius: 7px;
	padding: 10px 15px;
	text-decoration: none;
}

.button2 {
	align-self: center;
	background-color: rgba(30,123,186,0.5);
	color: rgb(220,220,220);
	font-weight: bold;
	border-radius: 7px;
	padding: 10px 15px;
	text-decoration: none;
}

.button3{
	align-self: center;
	background-color: rgb(200,48,27);
	color: white;
	font-weight: bold;
	border-radius: 7px;
	padding: 10px 15px;
	text-decoration: none;
}
.button4{
	align-self: center;
	background-color: rgba(200,48,27,0.5);
	color: rgb(220,220,220);
	font-weight: bold;
	border-radius: 7px;
	padding: 10px 15px;
	text-decoration: none;
}